button{
  position: absolute;
  top: 0;
}

h2{
  position: absolute;
  z-index: 100;
  width: 60%;
  color: white;
  font-family: sans-serif;
  text-align: center;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

a:link{
  color: yellow;
}
a:visited{
  color: yellow;
}

body{
  margin: 0;
  overflow: hidden;
}
